<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="/" style="text-decoration: none;" class="mt-3 mb-3">
      <span class="navbar-brand mb-0 h1">POTTERHEAD API</span>
    </a>
  </div>
</nav>